#childDiv{
	display: -webkit-box;
}

#childDiv div{
	border: 1px solid rgba(12,10,12,0.06);
	width: 50px;
	height: 50px;
}

.user_interface{
	width: 600px;
	display: absolute;
}

#pattern_list{
	display: inline-block;
	width: 200px;
}

