.childDiv{
	display: -webkit-box;
}

.childDiv div{
	border: 1px solid lightgray;
	width: 50px;
	height: 50px;
}	

.pattern_child_div{
	display: flex;
}

.pattern_child_div div{
	border: 1px solid lightgray;
}

.user_interface{
	width: 800px;
	height: 600px;
}

.main{
	display: flex;
}

